

.background-blur {
    background: linear-gradient(176deg, rgba(211, 39, 39, 0.065) -7.42%, rgba(181, 26, 129, 0.065) 2.74%, rgba(127, 19, 201, 0.065) 12.61%, rgba(22, 71, 249, 0.065) 22.48%, rgba(255, 255, 255, 0) 45.89%);
    background-size: 100% 20%;
    background-repeat: no-repeat;
    background-color: #FDFDFF;
}

.nav-link-background {
    background: rgba(21, 71, 249, 0.05);
}